:root{
    --nav-color: #222121;
    --nav-shade: #3C3A3A;
    --nav-shadeT: lightgreen;
    --nav-text: darkred;
    --nav-analogous: #525252;
}
.contentWrapper{
    background-color: var(--nav-color);
    position: relative;
    margin-top: 10vh;
    margin-left: 12vw;
    padding-left: 0.5em;
    width: fit-content;
    height: fit-content;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 4px solid var(--nav-analogous);
}
.content > div {
    margin: 1rem;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contentItem{
    width: 14rem;
    height: 9rem;
    display: flex;
    background-color: var(--nav-shadeT);
    color: var(--nav-text);
    align-items: center;
    justify-content : center;
}
.moveToLeft{
    margin-left: 0vw;
    width: fit-content;
    height: 100%;
}
.moveTag{
    margin-left: 3vw;
}