:root{
    --nav-color: #222121;
    --nav-shade: #3C3A3A;
    --nav-shadeT: lightgreen;
    --nav-text: darkred;
    --nav-analogous: #525252;
}
.contentWrapper{
    background-color: var(--nav-color);
    position: absolute;
    margin-top: 6em;
    left: 12em;
    right: 0;
    padding-left: 0.5em;
    min-height: 100vh;
    width: fit-content;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 85vw;
    max-width: 100rem;
    border-bottom: 4px solid var(--nav-analogous);
}
.content > div {
    margin: 1rem;
}
.contentStuffing{
    background-color: var(--nav-color);
    height: 100vh;
    max-height: 10em;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contentItem{
    width: 18rem;
    height: 9rem;
    display: flex;
    background-color: var(--nav-shadeT);
    color: var(--nav-text);
    align-items: center;
    justify-content : center;
}
.moveToLeft{
    left: 0;
    width: fit-content;
    padding-left: 2.5rem;
}
.moveTag{
    left: 3em;
    width: 100%;
}
.moveScroll{
    left: 3em;
}