:root{
    --nav-color: #383838;
}
.navFixed{
    background-color: var(--nav-color);
    color: white;
    position: fixed;
    width: 100%;
    height: 5vh;
}
.flex{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home{
    color: black;
}
.search{

}
.inputSearch{
    color: var(--nav-color);
    background-color: black;
    height: 2.5vh;
    width: 25vw;
}
.rightBar{
    color: red;
}