:root{
    --nav-color: #383838;
}
.navFixed{
    background-color: var(--nav-color);
    color: white;
    position: fixed;
    width: 100%;
    height: 5vh;
}
.flex{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home{
    margin-left: 4vw;
    color: black;
}
.search{

}
.inputSearch{
    color: var(--nav-color);
    background-color: black;
    height: 2.5vh;
    width: 25vw;
}
.leftBar{
    background-color: var(--nav-color);
    position: absolute;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 20vw;
    overflow: hidden;
}
.leftBarMin{
    background-color: var(--nav-color);
    position: absolute;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 5vw;
    overflow: hidden;
}
.rightBar{
    color: red;
}