:root{
    --nav-color: #383838;
    --nav-analogous: #525252;
    --nav-hover-color: #5E5E5E;
    --text-color: white;

}
.navFixed{
    background-color: var(--nav-color);
    color: white;
    position: fixed;
    width: 100%;
    height: 5vh;
    z-index: 1;
    border-bottom: 1px solid var(--nav-analogous);
}
.flex{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flexTop{
    height: 100%;
    width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home{
    position: absolute;
    margin-left: 0;
    color: red;
    cursor: pointer;
    z-index: 3;
}
.homeBehind{
    width: 1.5em;
    height: 1em;
    position: absolute;
    background-color: white;
    z-index: 1;
}
.button{
    position: relative;
    border-radius: 50%;
    margin-left: 1.5em;
    width: 2em;
    color: var(--text-color);
    cursor: pointer;
}
.button:active{
    background-color: #5E5E5E;
}
.flexTop > span {
    cursor: pointer;
    margin-left: 2.8em;
}
.search{

}
.inputSearch{
    color: var(--nav-color);
    background-color: black;
    height: 2.5vh;
    width: 25vw;
    border-style: none;
    outline: 1px solid var(--nav-analogous);
}
.leftBar{
    background-color: var(--nav-color);
    position: fixed;
    margin-top: 5vh;
    margin-left: 0px;
    display: flex;
    visibility: visible;
    flex-direction: column;
    height: 95%;
    width: 12vw;
    overflow: hidden;
    z-index: 1;
    transition-property: margin-left;
    transition-timing-function: ease-in-out;
}
.leftBarTrans{
    margin-left: -12vw;
    transition-property: margin-left;
    transition-timing-function: ease-in-out;
}
.duration{
 transition-duration: 0.3s;
}
.leftBarMin{
    background-color: var(--nav-color);
    position: fixed;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 3vw;
    overflow: hidden;
    z-index: 1;
}
.rightBar{
    color: red;
}
.none{
    display: none;
}
.font{
    cursor: pointer;
    margin-top: 0.7vh;
    height: 2.5vh;
    color: var(--text-color);
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
}
.fontMin{
    cursor: pointer;
    margin-top: 0.7vh;
    height: 2.5vh;
    color: var(--text-color);
    display: inline-grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.font:hover, .fontMin:hover{
    background-color: var(--nav-hover-color);
}
.gridItem{
    justify-self: center;
    align-self: center;
}